@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}


#mapsource {
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.parallax {
  /* The image used */
  background-image: url("https://minnovabucket.s3.eu-west-1.amazonaws.com/4wXrJYaXwqSPtxZkeHTv3hjW?response-content-disposition=inline%3B%20filename%3D%2220190403_105236.jpg%22%3B%20filename%2A%3DUTF-8%27%2720190403_105236.jpg&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJXMRGVY77XAO7SIA%2F20190515%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20190515T131933Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=82b6d67a9b16289cfe5d790689d08209e6635c4242935bda89b2d6ca816027f4");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.work-item {
	margin-bottom: 30px;
	a {
		border: none;
		text-align: center;
		img {
			margin-bottom: 10px;
			float: left;
			border: 10px solid transparent;
			@include transition(.5s);
		}
		h3 {
			font-size: 20px;
			color: black;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			color: lighten(black, 80%);
			margin-bottom: 0;
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			img {
				border: 10px solid black;
			}
		}
	}
}