@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}


#mapsource {
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.parallax {
  /* The image used */
  background-image: url("http://minnova.uk/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1f26f408c8cc4514ca7f5979cdf53bd30faa02e5/Purple_stent.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.work-item {
	margin-bottom: 30px;
	a {
		border: none;
		text-align: center;
		img {
			margin-bottom: 10px;
			float: left;
			border: 10px solid transparent;
			@include transition(.5s);
		}
		h3 {
			font-size: 20px;
			color: black;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			color: lighten(black, 80%);
			margin-bottom: 0;
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			img {
				border: 10px solid black;
			}
		}
	}
}